.navbar-brand {
  font-family: 'Bowlby One SC', cursive;
  font-size: 40px;
}

.navbar-collapse {
  position: relative;

  .nav-item {
    position: static;
  }
}

.nav-item {
  .dropdown-menu {
    text-align: center;
    padding: 10px;
    right: 0;
    left: 0;
  }
}

.nav-link {
  margin: 0 20px;
}

.icon-block {
  width: 240px;
  text-align: right;
}
