@import '../../variables.scss';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';


.navbar-brand {
  font-family: 'Bowlby One SC', cursive;
  font-size: 40px;
}

@include media-breakpoint-down('md') {
  .navbar-brand {
    font-size: 27px;
  }
}

.navbar-collapse {
  position: relative;

  .nav-item {
    position: static;
  }
}

.nav-item {
  .dropdown-menu {
    text-align: center;
    padding: 10px;
    right: 0;
    left: 0;
  }
}

.nav-link {
  margin: 0 20px;
}

.icon-block {
  margin-left: auto;

}
