.navbar-brand {
  font-family: 'Bowlby One SC', cursive;
  font-size: 40px;
}

.nav-item {
  .dropdown-menu {
    padding: 10px;
    width: 500px;
    right: 0;
    left: auto;
  }
}

.nav-link {
  margin: 0 20px;
}
