@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "../../variables";

$top-text-color: #a3a3a3;

.nav-link.active {
  color: #ff00a8;
}

.img-wrapper {
  position: relative;
  &:hover {
    .img-before {
      opacity: 0;
    }
    .img-after {
      opacity: 1;
    }
    .top-option {
      display: block;
    }
  }
}

.img-before {
  width: 100%;
  transition: opacity 0.5s;
}

.img-after {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
}

.top-text p a {
  color: $top-text-color;
  &:hover {
    color: #212529;
}

}

.top-option {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 50px;
  margin-left: -105px;
  background-color: rgba(29, 29, 29, 0.91);
  width: 210px;
  i {
    vertical-align: middle;
  }
  a {
    color: $top-text-color;
    &:hover {
      color: #ffffff;
    }
  }
  p {
    font-size: 16px;
    line-height: 19px;
  }
}

.wishlist {
  border-right: 1px solid $top-text-color;
}

.compare {
  border-left: 1px solid $top-text-color;
}
