h1 {
  color: #ff00a8;
  font-family: 'Bowlby One SC', cursive;
}

.footer {
  li {
    line-height: 40px;
    i {
      vertical-align: middle;
      font-size: 12px;
    }
  }
  a {
    color: #6C757D;
    &:hover {
      color: #ff00a8;
    }
  }
}

.i-send {
  font-size: 14px;
}

.footer-bottom {
  border-top: 1px solid #ced4da;
  p {
    font-size: 15px;
  }
  .img-card {
    img {
      float: right;
      width: 40px;
    }
  }
  .store-btn {
    img {
      margin-left: 5px;
      margin-right: 5px;
      width: 150px;
    }
  }
}