.img-banner-sale:hover {
  width: 110% !important;
}

.sale-banner-one {
  height: 567px;
  overflow: hidden;

  .text-sales {
    position: absolute;
    top: 18px;
    right: 50px;
  }

  .percent {
    font-size: 65px;
    margin-bottom: 60px;
  }

  .name-sales {
    display: inline-block;
    font-size: 55px;
    line-height: 60px;
  }
}

$text-sales-top: 20px;

.sale-banner-two {
  position: relative;
  height: 270px;
  overflow: hidden;

  .text-sales {
    position: absolute;
    top: $text-sales-top;
    left: 40px;
  }

  .percent {
    font-size: 50px;
  }

  .img-banner-sale:hover {
    margin-left: -10%;
    margin-top: -10px;
  }
}

.sale-banner-three {
  position: relative;
  height: 270px;
  overflow: hidden;

  .text-sales {
    position: absolute;
    top: $text-sales-top;
    right: 40px;
  }

  .percent {
    font-size: 50px;
  }

  .img-banner-sale:hover {
    margin-left: -10px;
  }
}

.img-banner-sale {
  transition: all 0.3s linear;
}