$primary: #ff00a8;

$link-color: #343a40;
$link-hover-color: #ff00a8;
$link-hover-decoration: none;

$navbar-light-active-color: #ff00a8;
$navbar-light-hover-color: $navbar-light-active-color;

$btn-focus-box-shadow: none;
$btn-border-radius: none;